<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stephanie Da Cruz</title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body style="background-color: var(--backdrop-color);">

        <%- include('components/header') %>

        <div style="padding: 5% 10%;">
            <h1>README.md</h1>
            <p class="readme_text">Reflecting on my journey entering the coding landscape, I can recall a pivotal moment during a summer at MIT's
                overnight coding camp. It was an early beginning that unfolded into a transformative experience and a genuine love for the process.</p>
            
            <p class="readme_text">At that camp I discovered the joy of every coder's first 'Hello World' message blinking into existence in the
                terminal. From there I embarked on a journey that would take me through endless tutorials and eventually four years of a Bachelor's
                degree in Computer Science at Brown University.</p>
                
            <p class="readme_text">Today I am grateful for the continuous opportunities since my sophomore year in 2022 to contribute my skills
                towards professional teams. My expertise centers on crafting compelling online presences for the teams and institutions behind
                groundbreaking projects. Occasionally, I also contribute to the development of these innovative programs.</p>

            <h2>** Experience **</h2>

            <div class="problem_div" style="display: flex; margin-bottom: 4rem;">
                <div class="vertical_scroller" style="min-width: 50%;">
                    <%- include('components/experience_bubble', { experienceData: tripathi_labs }) %>
                    <%- include('components/experience_bubble', { experienceData: ppc }) %>
                    <%- include('components/experience_bubble', { experienceData: ipp }) %>
                </div>
                <div class="vertical_scroller">
                    <div class="image-container"></div>
                </div>
            </div>

            <h2>** Languages and Skills **</h2>
            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                <!-- Foreach loop that will make a skill_bubble with info for each element in a json array -->
                <% skills.forEach(function(skill) { %>
                    <div class="skill_bubble">
                        <p class="skill_text"><%=skill %></p>
                    </div>
                <% }); %>
            </div>

            <p style="width: 100%; text-align: right; margin: 1rem;">I made this website from scratch with <b>Node.js</b> and <b>Express</b>, and launched it using <b>Github Pages</b>.</p>
        </div>

    </body>

    <script>
        
        const bubbles = document.querySelectorAll('.experience_bubble');

        // When a bubble is clicked, highlight it and load its image gallery
        bubbles.forEach(bubble => {
            bubble.addEventListener('click', () => {
                // Remove 'selected' class from all bubbles
                bubbles.forEach(b => b.classList.remove('focus'));

                // Add 'selected' class to the clicked bubble
                bubble.classList.add('focus');

                // Get the data-array attribute value of the clicked bubble
                const activeImgsArray = bubble.getAttribute('data-array');

                // Update the img scroller
                renderImages(activeImgsArray);

            });
        });

        // A function to preload the images so that they don't jitter upon first access
        function preloadImages(activeIndex) {
            image_arrays[activeIndex].forEach(imagePath => {
                const img = new Image();
                img.src = imagePath;
            });
        }

        // Preload images on DOM content load
        document.addEventListener('DOMContentLoaded', () => {
            preloadImages(1);
            preloadImages(2);
        });

        // Render the work examples image gallery
        const imageContainer = document.querySelector('.image-container');
        const image_arrays = JSON.parse('<%- JSON.stringify(imageArrays) %>');

        function renderImages(activeIndex) {
            imageContainer.innerHTML = ''; // Clear previous images

            image_arrays[activeIndex].forEach(imagePath => {
                const img = document.createElement('img');
                img.src = imagePath;
                img.alt = 'Work Example Image';
                imageContainer.appendChild(img);
            });
        }

        // Initial render
        renderImages(0);
    </script>
</html>